<button (click)="paginacionAtras()"> Atrás </button>
<button (click)="paginacionAdelante()"> Adelante </button>
<ul>
  <li *ngFor="let pokemon of listaTmp; let i = index">
    {{ pokemon.name }} <button type="button" (click)="detalle(pokemon.url, i)">Detalle</button>
    <div *ngIf="pokemon.detalle">
      <label> N° Pokemon: {{ pokemon.detalle.id }} </label>
      <br>
      <label> Habilidad(es): </label>
      <div *ngFor="let p of pokemon.detalle.habilidades">
        - {{p.ability.name}}
      </div>
      <label> Amistad Base: {{ pokemon.detalle.base_happiness }} </label>
      <br>
      <label> Ratio de Captura: {{ pokemon.detalle.capture_rate }} </label>
      <br>
      <label> Pre-evolución: {{ pokemon.detalle.preevolucion }} </label>
    </div>
    <br>
  </li>
</ul>